{% block content %}

<div class="d-flex flex-column">
    {%if f_profile_receiver.user == request.user%}
<div>
    <h3>{{f_profile_sender.user|capfirst}}</h3> 
</div>
<div>
<img src="{{f_profile_sender.avatar.url}}" alt="" width="200" height="200">
</div>
<div>
Email: {{f_profile_sender.email}}
</div>
First Name: {{f_profile_sender.first_name}}
<div>
Last Name: {{f_profile_sender.last_name}}
</div>
<div>
Bio:{{f_profile_sender.bio}}
</div>
Users rooms:
{%for room in rooms%}
{%if f_profile_sender.user == room.host%}
{{room}}

{%endif%}
{%endfor%}

{%else%}
<div>
<h3>{{f_profile_receiver.user|capfirst}}</h3>
</div>
<div>
<img src="{{f_profile_receiver.avatar.url}}" alt="" width="200" height="200" class="rounded-3">
</div>
<div>
Email: {{f_profile_receiver.email}}
</div>
<div>
First Name: {{f_profile_receiver.first_name}}
</div>
<div>
Last Name: {{f_profile_receiver.last_name}}
</div>
<div>
Bio:{{f_profile_receiver.bio}}
</div>

Users rooms:
{%for room in rooms%}
{%if f_profile_receiver.user == room.host%}
{{room}}

{%endif%}
{%endfor%}
{%endif%}

</div>
{% endblock content %}