{% extends 'base.html' %}

{% block content %}



<div class="col-auto d-flex dropdown-menu mx-sm-5 mt-3">
    <div class="px-4 py-3">
<!-- Lists friends Profile details -->
{%if profile.user in friends_list or request.user == profile.user%}

    <h3 class="text-center">{{profile.user|capfirst}}</h3> 
<div class="rounded-3">
    {% load cloudinary %}
    {% cloudinary profile.avatar.url quality='auto' width=200 height=200 crop='pad' background='gen_fill:ignore-foreground_true' class="rounded-3" alt="avatar"%}

</div>
<!-- Remove Friend button-->
   {%if profile.user != request.user%}
   <div class="d-flex justify-content-center mt-3">
   <a href="{% url 'remove_friend' friend_request.pk %}" class="btn btn-danger btn-sm">Remove</a>
</div>     
        <br>
  {%endif%}
<div>
<strong>Email</strong>: {{profile.email}}
</div>
<strong>First Name:</strong> {{profile.first_name}}
<div>
<strong>Last Name:</strong> {{profile.last_name}}
</div>
<div>
<strong>Bio:</strong> {{profile.bio}}
</div>
<strong>{{profile.user|capfirst}}'s rooms:</strong><br>
{%for room in rooms%}
{%if room.status == 0 and room.host == profile.user %}
<a href="{%url 'room_id' room.pk%}">{{room}}</a><br>
{%elif room.status == 1 and room.host == profile.user%}
<a href="{%url 'room_id' room.pk%}">{{room}}</a> <small class="text-success">Friends Only</small>
<br>


{%endif%}
{%endfor%}
<!-- Lists reduced details of non friend and offers to send a request-->
{%else%}
<div>
<div>
<h3 class="text-center">{{profile.user|capfirst}}</h3>
</div>
<div>
<img src="{{profile.avatar.url}}" alt="" width="200" height="200" class="rounded-3">
</div>
    {% for received in received_requests%}
        {%if profile.user == recieved.sender %}
   
            <a href="{%url 'accept_friend_request' received.pk %}" class="btn btn-success my-3 mr-3">Accept Request</a>  

            <a href="{%url 'decline_friend_request' received.pk %}" class="btn btn-warning my-3 mr-3">Decline Request</a>  
        {%endif%}
    {%endfor%}

    {%if sent_requests%}
       
        <span class="d-flex justify-content-center">Request pending...</span>
        {%for sent in sent_requests%}
        <form method="post" action="{% url 'remove_friend' sent.pk %}">
            {% csrf_token %}
          <div class="d-flex justify-content-center">
            <input type="hidden" name="status" value="2" >
              <button type="submit" class="btn btn-danger btn-sm mt-3">Remove</button>
            </div>
            </form>
        <br>
        {%endfor%}    
    {%else%}
    <div class="d-flex justify-content-center">
        <a href="{%url 'friend_request' profile.user.pk %}" class="btn btn-primary my-3">Friend Request</a>
    </div>
     
    {%endif%}

    <strong>{{profile.user|capfirst}}'s rooms:</strong><br>
    {%for room in rooms%}
        {%if room.status == 0 and room.host == profile.user %}
    <a href="{%url 'room_id' room.pk%}">{{room}}</a><br>
        {%elif room.status == 1 and room.host == profile.user%}
    <a href="#">{{room}}</a> <small class="text-danger">Friends Only</small>
    <br>
    
    
        {%endif%}
    {%endfor%}
</div>
{%endif%}
<div class="d-flex justify-content-center">
<a href="{%url 'friends_list'%}" class="btn btn-primary btn-sm mt-3">Friends List</a>
</div>

    </div>
</div>
{%endblock%}