{% extends 'base.html' %}

{% block content %}


<div class="min-vh-100">
<div class="col-auto d-flex dropdown-menu mx-sm-5 mt-3">
    <div class="px-4 py-3">
<!-- Lists Profile details -->
{%if profile.user in friends_list or request.user == profile.user%}

    <h3 class="text-center">{{profile.user|capfirst}}</h3> 
<div class="profile-image">
    {% load cloudinary %}
    {% cloudinary profile.avatar.public_id secure=True quality='auto' width=250 height=250 crop='pad' background='gen_fill:ignore-foreground_true' alt="avatar"%}
</div>
<!-- Remove Friend button-->
   {%if profile.user != request.user%}
   <div class="d-flex justify-content-center mt-3">
   <a href="{% url 'remove_friend' friend_request.pk %}" class="btn btn-danger btn-sm">Remove Friend</a>
</div>     
        <br>
  {%endif%}
<div>
<strong>Email</strong>: {{profile.email}}
</div>
<strong>First Name:</strong> {{profile.first_name}}
<div>
<strong>Last Name:</strong> {{profile.last_name}}
</div>
<div>
<strong>Bio:</strong> {{profile.bio}}
</div>
<strong>{{profile.user|capfirst}}'s rooms:</strong><br>
{%for room in rooms%}
{%if room.status == 0 and room.host == profile.user %}
<a href="{%url 'room_id' room.pk%}">{{room}}</a><br>
{%elif room.status == 1 and room.host == profile.user%}
<a href="{%url 'room_id' room.pk%}">{{room}}</a> <small class="text-success">Friends Only</small>
<br>


{%endif%}
{%endfor%}
<!-- Lists reduced details of non friend and offers to send a request-->
{%else%}
<div>
<div>
<h3 class="text-center">{{profile.user|capfirst}}</h3>
</div>
<div class="profile-image">
    {%load cloudinary%}
    {% cloudinary profile.avatar.public_id secure=True quality='auto' width=250 height=250 crop='pad' background='gen_fill:ignore-foreground_true' alt="avatar"%}
</div>
    {% for received in received_requests%}
        {%if profile.user == recieved.sender %}
   
            <a href="{%url 'accept_friend_request' received.pk %}" class="btn btn-success my-3 mr-3">Accept Request</a>  

            <a href="{%url 'remove_friend' received.pk %}" class="btn btn-warning my-3 mr-3">Decline Request</a>  
        {%endif%}
    {%endfor%}

    {%if sent_requests%}       
        <span class="d-flex justify-content-center">Request pending...</span>
        {%for sent in sent_requests%}
        {%if profile.user == sent.receiver %}
        <div class="d-flex justify-content-center">
        <a href="{%url 'remove_friend' sent.pk %}" class="btn btn-danger my-3 mr-3">Remove Request</a>  
    </div>
        {%endif%}
        {%endfor%}    
    {%elif received_requests%}
    <span class="d-flex justify-content-center">Request pending...</span>
    {%for received in received_requests%}
    {%if profile.user == received.sender %}
    <div class="d-flex justify-content-evenly">
    <a href="{%url 'accept_friend_request' received.pk %}" class="btn btn-success my-3 mr-3">Accept</a>  
    <a href="{%url 'remove_friend' received.pk %}" class="btn btn-danger my-3 mr-3">Decline</a>  
    </div>

    {%endif%}    
    {%endfor%}    
    {%else%}
    <div class="d-flex justify-content-center">
        <a href="{%url 'friend_request' profile.user.pk %}" class="btn btn-primary my-3">Friend Request</a>
    </div>
     
    {%endif%}

    <strong>{{profile.user|capfirst}}'s rooms:</strong><br>
    {%for room in rooms%}
        {%if room.status == 0 and room.host == profile.user %}
    <a href="{%url 'room_id' room.pk%}">{{room}}</a><br>
        {%elif room.status == 1 and room.host == profile.user%}
    <a href="#">{{room}}</a> <small class="text-danger">Friends Only</small>
    <br>
    
    
        {%endif%}
    {%endfor%}
</div>
{%endif%}
<div class="d-flex justify-content-center">
<a href="{%url 'friends_list'%}" class="btn btn-primary btn-sm mt-3">Friends List</a>
</div>

    </div>
</div>
</div>
<div class="col-auto d-flex mx-sm-5">
{%include 'footer.html'%}
</div>
{%endblock%}