
  
        <div class="col-2 bg-primary d-flex flex-column participants">
            <div class="participants">  
<h4 class="text-white mt-3">Participants</h4>
         {%for participant in participants%}
         {%if participant.profile%}
        <img src='{{participant.profile.avatar.url}}' 
            alt="profilepicture" width="30" height="30" class="rounded-circle">
            <small class="text-white">{{participant.profile.user}}</small>
         {%else%}
        <img src='https://res.cloudinary.com/ddurovnhl/image/upload/v1701246735/default_avatar_poro4z.png' 
      alt="profilepicture" width="30" height="30" class="rounded-circle">
      {{participant}}
      {%endif%}
        {%endfor%}        
        </div>
</div>
    </div>
</div>