
  
        <div class="col-auto px-1 px-sm-2 px-md-3 col-xl-2 bg-primary participants">
            <div class="participants rounded-3 d-flex flex-column align-items-center xl-align-items-start">  
<span class="fs-5 text-white d-none d-lg-inline mt-2">Contributors</span>
<span class="text-white d-md-none d-inline mt-2 contributor-title">Contri-</span>
<span class="text-white d-md-none d-inline contributor-title">butors</span>
<span class="text-white d-none d-md-inline d-lg-none mt-2"><small>Contributors</small></span>
<div class="w-30">         
{%for participant in participants%}
<div class="avatar bg-secondary d-flex justify-content-center">
              <a href="{%url 'view_profile' participant.pk %}" aria-label="View Profile">
                {% load cloudinary %}
                {% cloudinary participant.profile.avatar.public_id secure=True quality='100' crop='fill' width=40 height=40 alt="avatar"%}
            <small class="text-white d-none d-lg-inline">{{participant.profile.user}}</small>
          </a>
</div>
        
        
        
 
        {%endfor%}        
        </div>
</div>
    </div>
</div>