{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-9 col-sm-8 col-md-7 col-lg-6 col-xl-5 align-items-center">
        <form method="GET" action="{%url 'home'%}" >
            <input type="text" name="q" placeholder="Search Rooms..."/>
        </form>
        <hr>
        <a href="{% url 'create_post' room.pk%}" class="btn btn-primary">Create Post</a>
        <hr> 
   
        {%for profile in profiles%}
        {%if room.host == profile.user%}
        <h1 class="text-center">{{room.name}}</h1>
        <div class="d-flex justify-content-center">
            {%if room.status == 1%}
            {%if room.host in friends_list or request.user == room.host%}
            <small class="text-success">Friends Only</small><br>
            {%else%}
            <small class="text-danger">Friends Only</small><br>
            <div class="d-flex justify-content-center">
                
            </div>
            {%endif%}
            {%else%}
            <small class="text-primary">Public</small><br>
            {%endif%}
        </div>
        <div class="d-flex justify-content-center">
        <a href="{%url 'view_profile' profile.pk%}"><img src="{{profile.avatar.url}}" alt="" width="40" height="40" class="rounded-circle">
    </div></a>
        <p class="text-center"><small>Host: {{profile.user|capfirst}}</small>
        
            <div class="text-center">{{room.description}}</div>
            <br>
      
         
        </p>
        {%endif%}
        {%endfor%}

{% if room.status == 0 %}
{% include 'posts/posts.html' %}

{% include 'rooms/participants.html'%}
{%endif%}

{% if room.status == 1 %}
{% if room.host in friends_list or room.host == request.user%}
{% include 'posts/posts.html' %}

{% include 'rooms/participants.html'%}
{%endif%}
{%endif%}


<!-- {%for post in posts%}
    {% if post.room == room %} 
    
        <div>
            @{{post.author}}
            {{post.created|timesince}} ago    
           <p>{{post.content}}</p>
<hr>
        </div>
    
    {% endif %}
{%endfor%}
    {% endblock %} -->