{% extends 'base.html' %}

{% block content%}
<div class="col-auto d-flex mt-3 dropdown-menu mx-sm-5">
    <div class="px-4 py-3">
        <h4 class="text-center">Room Manager</h4>

        <form method="post" class="d-flex flex-column">
{% csrf_token %}
<strong>Name:</strong>
{{form.name}}
<strong>Topic:</strong>
{{form.topic}}
<strong>Description:</strong>
<div class=" ">
{{form.description}}
</div>
<strong>Access:</strong>
{{form.status}}
<div class="d-flex justify-content-around mt-3">
<a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary">Go Back</a>
<input type="submit" value="Submit" class="btn btn-primary">

</div>
</form>
    </div>
</div>
{% endblock content %}