{% extends 'base.html' %}

{% block content%}
<div class="min-vh-100">
<div class="col-auto d-flex mt-3 dropdown-menu mx-sm-5">
    <div class="px-4 py-3">
        <h4 class="text-center">Room Manager</h4>

        <form method="post" class="d-flex flex-column">
{% csrf_token %}
<label for="id_name"><strong>Name:</strong></label>
{{form.name}}
<label for="id_topic"><strong>Topic:</strong></label>
{{form.topic}}
<label for="id_description"><strong>Description:</strong></label>
{{form.description}}
<label for="id_status"><strong>Access:</strong></label>
{{form.status}}
<div class="d-flex justify-content-between mt-3">
<a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary">Go Back</a>
<input type="submit" value="Submit" class="btn btn-primary">

</div>
</form>
    </div>
    
</div>
</div>
<div class="col-auto d-flex mx-sm-5">
{%include 'footer.html' %}
</div>
{% endblock content %}