{% extends 'base.html' %}

{% block content%}
<div class="col-auto d-flex dropdown-menu mx-sm-5">
    <div class="px-4 py-3">
        <h4 class="text-center">Room Manager</h4>

        <form action="" method="post" class="d-flex flex-column">
{% csrf_token %}
Name:
{{form.name}}
Topic:
{{form.topic}}
Description:
<div class=" ">
{{form.description}}
</div>
Access:
{{form.status}}
<div class="d-flex justify-content-center mt-3">
<input type="submit" value="Submit"/ class="btn btn-primary">

</div>
</form>
{% endblock content %}