<div class="col-auto col-xl-2 px-sm-1 px-md-3 px-0 bg-primary">
    <nav>

            <div class="d-flex flex-column align-items-center align-items-xs-start pt-2 text-white min-vh-100 position-sticky">
                <a href="/" class="mb-md-0 text-white text-decoration-none" aria-label="Logo leads to Home view">
                    <img class="logo md-img-fluid" src="https://res.cloudinary.com/ddurovnhl/image/upload/v1702384899/logo_mz9sdl.png" alt="" width="60" height="60">
                </a>
                
                {% if request.user.is_authenticated %}
               
                {% else %}
                <a href="{% url 'login' %}" class="text-white" aria-label="Login view"><small>Login</small></a>
                {% endif %}
     
             
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item"> 
                        <a href="{%url 'home'%}" class="nav-link align-middle px-0 text-white" aria-label="Home view">
                            <i class="fs-4 bi-house"></i><span class="ms-1 d-none d-lg-inline-block">Home</span>
                        </a>
                    </li>
                   
                <!-- Topics Menu -->
                    <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle 
                            text-white collapsed" aria-label="Topics List">
                                <i class="fs-4 bi bi-hash"></i> 
                                <span class="ms-1 d-none d-lg-inline-block">Topics</span>
                            </a>
                    </li>    
                    <li>
                        <ul class="collapse nav flex-column ms-1 bg-secondary p-3 rounded-1 mx-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100 text-center">
                                <a href="{% url 'home' %}" class="text-white text-decoration-none" aria-label="All Rooms View">All</a>
                            </li>
                          
                            {%for topic in topics %}
                          
                            <li>
                                <hr>
                                <a href="{% url 'home' %}?q={{topic.name}}" class="nav-link px-0 text-white" aria-label="Topic List Item">
                                    <span class="text-white"> {{forloop.counter}}. {{topic.name}}</span></a>
                            </li>
                   
                            {%endfor%}
                            <!-- You Rooms Menu -->
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white" aria-label="Your Rooms List">
                            <i class="fs-4 bi-grid"></i> 
                            <span class="ms-1 d-none d-lg-inline-block">Your Rooms</span></a>
                        <ul class="collapse nav flex-column ms-1 bg-secondary p-3 rounded-1 mx-1" id="submenu2" data-bs-parent="#menu">
                            {%for room in users_rooms%}
                        
                            <li class="w-100">
                                <a href="{%url 'room_id' room.id%}" class="nav-link px-0 text-white" 
                                aria-label="Your Room List Item">
                                    <span class="text-white">{{room.name}}</span></a>
                                    <hr>
                                </li>
                           
                     
                            {%endfor%}
                            <li>
                                <a href="{%url 'create_room'%}" class="link-light" aria-label="Create New Room">Create room</a>
                            </li>
                        </ul>
                   
                    </li>
                    <li>
                        <a href="{%url 'friends_list'%}" class="nav-link px-0 align-middle  text-white" aria-label="Friends List">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-lg-inline-block">Friends</span></a>
                    </li>
                </ul>
                           
                <hr>
               
                <div class="d-flex flex-column align-items-center align-items-xs-start bottom-0 pb-4">
                {% if request.user.is_authenticated %}
                <!-- Profile Menu displayed when user clicks on avatar or username -->
                
                <ul id="content" class="sidebar-menu text-small text-center bg-secondary md-w-auto p-3 list-unstyled rounded-1 mx-1" style="display: none;">
                   <li>
                    <!-- Closing button inside Menu -->
                    <div class="d-flex justify-content-end" data-bs-theme="dark">
                    <button class="btn-close" onclick="hideMenu()"></button>
                </div>
            </li>
                    <li>
                        <a href="{% url 'create_profile' request.user.pk %}" class="text-decoration-none text-white" 
                        aria-label="Create Profile">
                        Manage Profile
                    </a>
                        <hr class="bg-white">
                    </li>
                    <li>
                        <a href="{% url 'view_profile' request.user.pk %}" class="text-decoration-none text-white" 
                        aria-label="View Profile">
                    View Profile                    
                    </a>
                        <hr class="bg-white">
                    </li>
                  <li>
                    <a href="{% url 'logout' %}" class=" text-decoration-none text-white" 
                    aria-label="Logout">Logout</a> 
                </li>
                
                </ul>
                 
                  <a href="#" class="d-flex text-white text-decoration-none" 
                id="toggleLink">
                {% load cloudinary %}
                {% cloudinary request.user.profile.avatar.public_id secure=True quality='auto' width=30 height=30 crop='pad' background='gen_fill:ignore-foreground_true' class="rounded-circle" alt="avatar"%}
                    <span class="d-none d-lg-inline mx-1">{{request.user|capfirst}}</span>
                </a>
                {%endif%}
           
     

            </div>
        
            </div>
        </nav>
        </div>
    
    