{% extends 'base.html' %}

{% block content %}
<form method="GET" action="{%url 'home'%}">
    <input type="text" name="q" placeholder="Search Rooms...">
    <button type="submit" class="btn btn-secondary btn-sm mb-1">Go</button>
</form>

<hr>
<a href="{% url 'create_room'%}" class="btn btn-primary">Create Room</a>
<hr>
{%for room in rooms%}
{%if forloop.last%}
Available Rooms: {{forloop.counter}}
{%endif%}
{%endfor%}
<hr>
    {% for room in rooms %}


    <a href="{%url 'view_profile' room.host.pk %}" class="text-decoration-none"><img src='{{room.host.profile.avatar.url}}'
    alt="" width="30" height="30" class="rounded-circle"> <span>@{{room.host.username}}</span></a>
  
 
    <h5><a href="{%url 'room_id' room.id%}">{{room.name}}</a></h5>
    {%if room.status == 1%}
    {%if room.host in friends_list or request.user == room.host%}
    <small class="text-success">Friends Only</small><br>
    {%else%}
    <small class="text-danger">Friends Only</small><br>
    {%endif%}
    {%else%}
    <small class="text-primary">Public</small><br>
    {%endif%}

    
    <small>{{room.topic.name}} - Posts: {{room.number_of_posts}}</small>
    {% if room.host == request.user %}
    <a href="{% url 'edit_room' room.id %}" class="btn btn-primary btn-sm">Edit</a>
    <a href="{% url 'delete_room' room.id %}" class="btn btn-danger btn-sm">Delete</a>

    {% endif %}
    <hr>
{% endfor %}
{% endblock %}
