{% extends 'base.html' %}

{% block content %}
<div class="min-vh-100">
<form method="GET" action="{%url 'home'%}">
    <input type="text" name="q" placeholder="Search Rooms...">
    <button type="submit" class="btn btn-secondary btn-sm mb-1">Go</button>
</form>

<hr>
<a href="{% url 'create_room'%}" class="btn btn-primary">Create Room</a>
<hr>
{%for room in rooms%}
{%if forloop.last%}
Available Rooms: {{forloop.counter}}
{%endif%}
{%endfor%}
<hr>
    {% for room in rooms %}


    <a href="{%url 'view_profile' room.host.pk %}" class="text-decoration-none">
        <div class="avatar bg-secondary d-flex justify-content-center">
        {% load cloudinary %}
        {% cloudinary room.host.profile.avatar.public_id secure=True quality='100' width=40 height=40 crop='fill' alt="avatar"%}
        </div>
        <span>@{{room.host.username}}</span></a>
  
 
    <h5><a href="{%url 'room_id' room.id%}">{{room.name}}</a></h5>
    {%if room.status == 1%}
    {%if room.host in friends_list or request.user == room.host%}
    <small class="text-success">Friends Only</small><br>
    {%else%}
    <small class="text-danger">Friends Only</small><br>
    {%endif%}
    {%else%}
    <small class="text-primary">Public</small><br>
    {%endif%}

    
    <small>{{room.topic.name}} - Posts: {{room.number_of_posts}}</small>
    {% if room.host == request.user %}
    <a href="{% url 'edit_room' room.id %}" class="btn btn-primary btn-sm py-0 px-1 mb-1">Edit</a>
    <a href="{% url 'delete_room' room.id %}" class="btn btn-danger btn-sm py-0 px-1 mb-1">Delete</a>

    {% endif %}
    <hr>
{% endfor %}
</div>
{%include 'footer.html'%}
{% endblock %}
