
{%if page == 'login' %}

<div class="col-auto d-flex dropdown-menu mx-sm-5 mt-3">
    <div class="px-4 py-3 ">
        <h4 class="text-center">Login</h4>
    <form method="post" class="d-flex flex-column">
        {% csrf_token %}
        <p class="form-group">
        <label for="username">Username</label><br>
        <input type="text" name="username" placeholder="Enter Username" id="username">
    </p>
    <p class="form-group">
        <label for="password">Password</label><br>
        <input type="password" name="password" placeholder="Enter Password" id="password">
    </p>
    <div class="d-flex justify-content-center">
        <button type="submit" value="Login" class="btn btn-primary">Sign in</button>
    </div>
    </form>
    <hr>
    <p class="text-center">Not a member?
    <a href="{%url 'register'%}">Sign up</a>
</p>
</div>
</div>
{%else%}
<div class=" col-auto d-flex dropdown-menu mx-sm-5 mt-3">
    <div class="px-4 py-3">
        <h4 class="text-center">Register</h4>
    <form method="post" class="d-flex flex-column">
        {% csrf_token %}
        <p class="form-group">
            <label for="username">Username</label><br>
            <input type="text" name="username" placeholder="Enter Username" id="username">
        </p>
     <p class="form-group">
        <label for="password1">Password</label><br>
        <input type="password" name="password1" placeholder="Enter Password" id="password1">
    </p>
     <p class="form-group">
        <label for="password2">Repeat Password</label><br>
        <input type="password" name="password2" placeholder="Repeat Password" id="password2">
    </p>
    <div class="d-flex justify-content-center">
       <button type="submit" value="Register" class="btn btn-primary">Sign up</button>
    </div>
    </form>
    <hr>
    <p class="text-center">Already a member?
    <a href="{%url 'login'%}">Login</a>
</p>
</div>
</div>
{%endif%}
