{% extends 'base.html' %}

{% block content %}
<!-- User Search bar-->
<form method="GET" action="{%url 'friends_list'%}">
  <input type="text" class="mb-0" name="q" placeholder="Search Users...">
  <button type="submit" class="btn btn-secondary btn-sm mb-1">Go</button>
</form>
<!-- Search bar reuslts -->

<small>Results:</small>
<ul class="list-unstyled">
{% for searched_user in user_search%}
<li>
  {% load cloudinary %}
  {% cloudinary searched_user.profile.avatar.public_id secure=True quality='auto' width=30 height=30 class="rounded-circle object-fit-cover" alt="avatar"%}
  <a href="{%url 'view_profile' searched_user.pk%}">{{searched_user.username|capfirst}}</a></li>
{%endfor%}
</ul>
<h3>Number of friends: {{number_of_friends}}</h3>

{%for friend in friends_list %}
<p>{{friend|capfirst}}</p>

{%for f_request in all_requests%}
{%if friend == f_request.receiver and request.user == f_request.sender%}

    {%for friend_profile in friend_profiles %}
    {%if friend.pk == friend_profile.pk%}
    {% load cloudinary %}
    {% cloudinary friend_profile.avatar.public_id secure=True quality='auto' width=80 height=80 crop='pad' background='gen_fill:ignore-foreground_true' class="rounded-circle object-fit-cover" alt="avatar"%}


<a href="{% url 'view_profile' friend_profile.user_id %}" class="btn btn-primary btn-sm">View Profile</a>
   
    <a href="{% url 'remove_friend' f_request.id %}" class="btn btn-danger btn-sm">Remove</a>
<hr>
    {%endif%}
    {%endfor%}




  {%elif friend == f_request.sender and request.user == f_request.receiver%}
    {%for friend_profile in friend_profiles %}
    {%if friend.pk == friend_profile.pk%}
    {% load cloudinary %}
    {% cloudinary friend_profile.avatar.public_id secure=True quality='auto' width=80 height=80 crop='pad' background='gen_fill:ignore-foreground_true' class="rounded-circle object-fit-cover" alt="avatar"%}
<a href="{% url 'view_profile' friend_profile.user_id %}" class="btn btn-primary btn-sm">View Profile</a>

    <a href="{% url 'remove_friend' f_request.id %}" class="btn btn-danger btn-sm">Remove</a>

    {%endif%}
    {%endfor%}

  <hr>
{%endif%}
{%endfor%}
{%endfor%}

{%for received in received_requests %}
<h3>Friend Requests:</h3>

<p>{{received.sender|capfirst}}
</p>{% load cloudinary %}
{% cloudinary received.sender.profile.avatar.public_id secure=True quality='auto' width=80 height=80 crop='pad' background='gen_fill:ignore-foreground_true' class="rounded-circle object-fit-cover" alt="avatar"%}

{%if received.status == 0%}
<form method="post" action="{% url 'accept_friend_request' received.id %}" class="d-inline">
    {% csrf_token %}
    <input type="hidden" name="status" value="1">
    <button type="submit" class="btn btn-success btn-sm">Accept</button>
  </form>
  <a href="{% url 'remove_friend' received.id %}" class="btn btn-danger btn-sm">Decline</a>

  {%endif%}
{%endfor%}

{%for sent in sent_requests%}
{%if forloop.first%}

<h3>Pending:</h3>
{%endif%}
<p>{{sent.receiver|capfirst}}</p>
{%for profile in profiles%}
{%if sent.receiver.pk == profile.pk%}
{% load cloudinary %}
    {% cloudinary profile.avatar.public_id secure=True quality='auto' width=80 height=80 crop='pad' background='gen_fill:ignore-foreground_true' class="rounded-circle object-fit-cover" alt="avatar"%}
<a href="{% url 'view_profile' profile.pk %}" class="btn btn-primary btn-sm">View Profile</a>
    <a href="{% url 'remove_friend' sent.pk %}" class="btn btn-danger btn-sm">Remove</a>


{%endif%}
{%endfor%}
<hr>
{%endfor%}
{% endblock content %}