{% extends 'base.html' %}

{% block content%}
<div class="min-vh-100">
<div class="col-auto mt-3 d-flex dropdown-menu mx-sm-5">
    <div class="px-4 py-3">
        {%if page == 'edit-post'%}
        <h4 class="text-center">Edit Post</h4>
         {%elif page == 'create-post'%}   
         <h4 class="text-center">Create Post</h4>
         {%endif%}
        <form enctype="multipart/form-data" method="post" class="d-flex flex-column post-form">
{% csrf_token %}
<label for="id_content"><strong>Content:</strong></label>

{{form.content}}

<br>
<label for="id_image"><Strong>Choose Image:</Strong></label>
{{form.image}}
<div class="d-flex justify-content-between mt-3">
    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary">Go Back</a>
    <input type="submit" value="Submit" class="btn btn-primary">
    
    </div>

</form>
</div>
</div>
</div>
<div class="col-auto d-flex mx-sm-5">
    {%include 'footer.html' %}
    </div>
{% endblock content %}

