<div class="row">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6">
        <form method="GET" action="{%url 'home'%}" >
            <input type="text" name="q" placeholder="Search Rooms..."/>
        </form>
        <hr>
        <a href="{% url 'create_post' room.pk%}">Create Post</a>
        <hr>    
{{room.id}}
{% for post in posts %}
{% if forloop.first %}
<h1 class="text-center">{{room.name}}</h1>

{% endif %}
{% if post.room == room %}

<div class="card mb-3 post-card" id="scroll{{post.pk}}">
<div class="m-3">  
    <img class="card-img-top rounded-3 post-image" src="{{post.image.url}}" 
    alt="Card image cap">
</div>
    <div class="card-body">
        {% if post.author.profile.avatar.url %}
        <a href="{%url 'friend_request' post.author.id %}"><img src='{{post.author.profile.avatar.url}}' 
            alt="profilepicture" width="30" height="30" class="rounded-circle"></a>
        
      {%else%}
      <a href="{%url 'friend_request' post.author.id %}"><img src='https://res.cloudinary.com/ddurovnhl/image/upload/v1701246735/default_avatar_poro4z.png' 
      alt="profilepicture" width="30" height="30" class="rounded-circle"></a>
      {%endif%}
      <small>@{{post.author}} {{post.created|timesince}} ago</small>
      {% if post.author == request.user %}
      <a href="{% url 'edit_post' post.id %}">Edit</a>
      <a href="{% url 'delete_post' post.id %}">Delete</a>
            
      {% endif %}
      <p class="card-text">{{ post.content }}</p>
      <div class="post-details">
        
       <a href="#postcomments{{post.pk}}" data-bs-toggle="collapse" class="nav-link collapsed"><i class="bi bi-chat"></i>{{post.number_of_comments}} </a>
     
      
      Shares: {{ post.number_of_shares }}

       
   
       <form id="like_post{{post.pk}}" action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token%}
        <a href="#" onclick="document.getElementById('like_post{{post.pk}}').submit()" class="text-decoration-none">
            <i class="bi bi-hand-thumbs-up"></i>{{ post.number_of_likes }}</a>
       </form>
    
       <form id="dislike_post{{post.pk}}" action="{% url 'dislike_post' post.pk %}" method="POST">
        {% csrf_token %}
        <a href="#" onclick="document.getElementById('dislike_post{{post.pk}}').submit()" class="text-decoration-none">
            <i class="bi bi-hand-thumbs-down"></i>{{ post.number_of_dislikes }}</a>
       </form>
    </div>
    </div>
   
    <ul class="collapse nav" id="postcomments{{post.pk}}">
        
        <li class="w-100">
            <hr>
            <a type="" href="{% url 'create_comment' post.pk%}" class=>Comment</a><br>
        </li>
   
      
    {% for comment in comments %}
    {% if comment.post == post %}

  
        <li class="w-100">
           
            <small>@{{comment.author}}  
                {%if comment.edited == True %} 
                {{comment.created|timesince}} ago  
                {%else%}
                edited {{comment.updated|timesince}} ago 
                {%endif%}
            </small>
            {% if comment.author == request.user %}
            <br>
            <a href="{% url 'edit_comment' comment.pk %}">Edit</a>
            <a href="{% url 'delete_comment' comment.pk %}">Delete</a>
            {%endif%}
            <br>
          {{ comment.content }}</p>
        </li>
        <div class="comment-details">
        <form id="like_comment{{comment.pk}}" action="{% url 'like_comment' comment.pk%}" method="POST">
            {% csrf_token%}
            <a href="#" onclick="document.getElementById('like_comment{{comment.pk}}').submit()" class="text-decoration-none">
                <i class="bi bi-hand-thumbs-up"></i>{{comment.number_of_likes}}</a>
           </form>
        
           <form id="dislike_comment{{comment.pk}}" action="{% url 'dislike_comment' comment.pk%}" method="POST">
            {% csrf_token%}
            <a href="#" onclick="document.getElementById('dislike_comment{{comment.pk}}').submit()" class="text-decoration-none">
                <i class="bi bi-hand-thumbs-down"></i>{{comment.number_of_dislikes}}</a>
           </form>
        </div>
        <hr>
      
    

{%endif%}
{%endfor%}
</ul>

</div>

{% endif %} 

{% endfor %}
</div>

        
        
        